body {
  Color: green;
  background-color: NavajoWhite; 
  max-width: 600px;
  margin: auto;
}
  h1 {
	Color: FireBrick;
	text-align: center;}

p1 {
  font-family: Papyrus, Fantasy, sans-serif;
}

p2 {
  font-family:  "Times New Roman", Times, serif;
}

p3 {
  font-family:  "Times New Roman", Times, serif;
}

p4 {
  font-family:  "Times New Roman", Times, serif;;
}

p5 {
  font-family:  "Times New Roman", Times, serif;
} 
