body {
  color: MidnightBlue;
  background-color: DarkSeaGreen; 
  max-width: 800px;
  margin: auto;
}
  h1 {
	color: MintCream;
	text-align: center;
	  font-family: Verdana;
  font-size: 300%; }
  h2  {
	  color: MidnightBlue;
	  text-align: center;
	  font-family: Verdana;
	  font-size: 150%; }
p {
  color: MidnightBlue;
  font-family: courier;
  font-size: 100%; }

ul {
	font-family: courier;
	font-size: 130%; }

img {
	display: block;
	margin: auto; }

iframe {
	display: block;
	margin: auto; }

a href {
	font-family: courier;
	font-size: 100%;  }







